[project]
	description = Installateur de moodle et ses packages
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nelson Moller (nmoller)
[access "refs/for/refs/*"]
	read = group user/Nelson Moller (nmoller)
	push = group user/Nelson Moller (nmoller)
	label-Code-Review = -2..+2 group user/Nelson Moller (nmoller)
	label-Verified = -1..+1 group user/Nelson Moller (nmoller)
	rebase = group user/Nelson Moller (nmoller)
	removeReviewer = group user/Nelson Moller (nmoller)
	submit = group user/Nelson Moller (nmoller)
[access "refs/heads/*"]
	read = group user/Nelson Moller (nmoller)
	create = group user/Nelson Moller (nmoller)
	push = +force group user/Nelson Moller (nmoller)
	pushMerge = group user/Nelson Moller (nmoller)
[access "refs/tags/*"]
	push = +force group user/Nelson Moller (nmoller)
	pushTag = group user/Nelson Moller (nmoller)
	pushSignedTag = group user/Nelson Moller (nmoller)
